	
	<p> <i class="fa fa-copyright" aria-hidden="true"></i> Trademark 2018 </p>
	<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
	<script type="text/javascript" src="/tms.js"></script>
</body>
</html>