<!DOCTYPE html>
<html>
<head>
	<title>Cypher-Attendance-System</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/att.css">
</head>
<body>
<% include ../Metadata/navbar %>
