<!DOCTYPE html>
<html>
<head>
	<title>Cypher-Competitive Programming Club</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
	<link rel="stylesheet" type="text/css" href="/att.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=yes">
	<script src="//cdn.ckeditor.com/4.8.0/basic/ckeditor.js"></script>
</head>
<body >
<% include ../Metadata/navbar %>
