<div class="ui inverted top fixed padded menu">
	<div class="header item"><a href="/"><i class="cube icon"></i> Cypher</a></div>
	<% if(user && user.role=='active'){%>
	<a class="item" href="/addStudents">Cypher Member</a>
	<a class="item" href="/markAttendance">Mark Attendance</a>
	<a class="item" href="/studentDetails">Details</a>
	<%}else if(user){%>
	<a class="item" href="/newPost">Add Post</a>
	<%}%>
	<%if(!user){%>
	<a class="right item" href="/sign/in">Sign In</a>
	<a class="item" href="/sign/up">Sign Up</a>
	<%}else{%>
	<div class="header right item">Welcome <%=formatTitle.capWords(user.name) %> !</div>
	<a class="item" href="/sign/out">Sign Out</a>
	<%}%>
</div>