<div class="ui fixed inverted borderless menu">
	<div class="ui container">
		<div class="header item"><a href="#"><i class="cube icon"></i> Cypher</a></div>
		<a class="item" href="/addStudents">Add</a>
		<a class="item" href="/markAttendance">Mark Attendance</a>
		<a class="item" href="/studentDetails">Details</a>
	</div>
</div>