<% include ../Metadata/header %>
<div class="ui inverted segment container">
	<form class="ui stackable form" action="/addStudents" method="post">
		<div class="ui centered grid green table">
		<div class="fields two column row">
			<div class="field column required">
				<label>Username</label>	
			</div>
			<div class="field column ">
				<input type="text" name="username" placeholder="Username" required="true">
			</div>
		</div>
		<div class="fields two column row">
			<div class="field column required">
				<label>Registration Number</label>	
			</div>
			<div class="field column ">
				<input type="text" name="reg_no" placeholder="Registration Number" required="true">		
			</div>
		</div>
		<div class="fields two column row">
			<div class="field column">
				<label>Role</label>	
			</div>
			<div class="field column">
				<select class="ui  floating dropdown labeled search icon button menu" name="role">
					<option class="item" value="active">Active</option>
					<option class="item" value="inactive" selected="true">Inactive</option>
				</select>		
			</div>
		</div>
		</div>
		<div class="ui centered grid">
			<input type="submit" value="S A V E" class="ui submit blue button">
		</div>
	</form>

</div>
<% include ../Metadata/footer %>