<% include ../Metadata/header %>
<div class="ui container segment">
	<form method="post" action="/img" >
		<input type="file" name="file1">
		<img src="" width="200" style="display:none;" />
		<input type="submit" value="Submit">
	</form>
</div>
<% include ../Metadata/footer %>