body,html{
	height: 100%;
	width: 100%;
}
.ui{
	margin-top: 40px;
}
/*ui blue basic large label*/
.ui.blue.basic.mini.label{
	border-width: 0;
}

.ui.form .field input{
	max-height: 33px;
	font-size: 20px;
}