	<div class="one column row" >
		<div class="column">
			<%if(x){%>
			<label class="ui negative message">*Username and/or Password don't Match!</label>
			<%}%>
		</div>
	</div>

	//blogs.findOne({},function(error,image)
	// {

		// res.contentType(image.img.contentType);    
    	// datauri.format('.png',image.img.data);
 		// res.render('home',{img:datauri.content});
		//=> "data:image/png;base64,eGtjZA==" 
		// console.log(datauri.mimetype); //=> "image/png" 
		// console.log(datauri.base64);
			// if(!error)
		// console.log(Object.prototype.toString.call( image.img.data,"hello"));
		// var x;
		// fs.writeFile(image.img.data)
		
		// var dat=fs.writeSync(image.img.data);
		// res.render('home',{img:dat});
		// res.send(image[0].img.data);
	// })
	// res.render('home');